.m-t-50{
  margin-top: 50px;
}
.m-b-50{
  margin-bottom: 50px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-r-10{
  margin-right: 10px;
}

.m-r-30{
  margin-right: 30px;
}

.m-l-5{
  margin-left: 5px;
}

.m-l-10{
  margin-left: 10px;
}

.m-l-30{
  margin-left: 30px;
}