
/** FONTS STYLES **/
.fs-16 {
  font-size: 16px;
}

.fs-28 {
  font-size: 28px;
}

.fw-600{
  font-weight: 600;
}


/** FONTS COLORS **/
.text-gray{
  color: #A6ACBE;
}

.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


